In [1]:
from pyspark.sql import SparkSession, Row

# Initialize a Spark session
spark = SparkSession.builder.appName("example").getOrCreate()

# Define a list of tuples as data
data = [("Alice", 34), ("Bob", 45), ("Carol", 28), ("Dave", 52)]
rdd = spark.sparkContext.parallelize(data)

# Convert RDD to DataFrame
df = rdd.map(lambda x: Row(name=x[0], age=int(x[1]))).toDF()

# Register DataFrame as a SQL table
df.createOrReplaceTempView("people")

# Perform a SQL query
result = spark.sql("SELECT * FROM people where age >40")
result.show()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/spark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/17 03:24:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

+----+---+
|name|age|
+----+---+
| Bob| 45|
|Dave| 52|
+----+---+